/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app-container,
#display-container,
#button-panel-container {
  display: flex;
  flex-direction: column;
  width: 700px;
}

/* Display */

#display-container {
  background-color: gray;
  height: 100px;
  color: white;
  font-weight: bolder;
  padding: 0 10px;
  justify-content: flex-end;
  align-items: end;
}

/* Button Panel */

#button-panel-container div {
  height: 100px;
}

/* Button */

#button-container {
  width: 25%;
  height: 100%;
  font-size: 2em;
  font-weight: bolder;
  border: 1px solid black;
}
